<!--
  Generated template for the ShoppingcartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar transparent>
    <ion-title>Din bestilling</ion-title>
    <ion-buttons *ngIf="cartTotal > 0" end>
      <button ion-button (click)="truncateCart()">
        <ion-icon name="trash" class="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content no-padding>

      <!-- Items, controls and totals -->
      <ion-list>

        <!-- Shopping cart items -->
        <ion-item-sliding *ngFor="let item of cart">
          <ion-item>
            <ion-grid no-padding>
              <ion-row>
                <ion-col col-8 text-left>
                  {{item.label}}
                  <p class="sub-text">
                    {{item.variantLabel}}
                    <span *ngIf="item.variantLabel != null && item.doneness != null"> - </span>
                    {{item.doneness}}
                  </p>
                </ion-col>
                <ion-col col-4 text-right>
                  {{item.total | priceFormat}}
                  <p class="sub-text">{{item.amount}} x {{item.price | priceFormat}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            
          </ion-item>
          
          <!-- Remove item -->
          <ion-item-options side="left">
            <button color="danger" ion-button (click)="removeItem(item.itemid, item.label)">
              &nbsp;<ion-icon name="trash"></ion-icon> &nbsp;
            </button>        
          </ion-item-options>

          <!-- Increase or decrease amount -->
          <ion-item-options side="right">
              <button color="default" ion-button (click)="decreaseAmount(item.itemid, item.amount)">
                &nbsp; <ion-icon name="remove"></ion-icon> &nbsp;
              </button>  
              <button color="secondary" ion-button (click)="increaseAmount(item.itemid)">
                &nbsp; <ion-icon name="add"></ion-icon> &nbsp;
              </button>         
            </ion-item-options>

        </ion-item-sliding>

        <!-- Total -->
        <ion-item>
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-4 text-left class="totals">
                <b>Totalt</b>
              </ion-col>
              <ion-col col-8 text-right class="totals">
                <b>{{cartTotal | priceFormat}}</b>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>

  <ion-title>Kommentar til bestillingen</ion-title>
  <ion-card>
    <ion-card-content>

      <!-- Comment -->
      <form #commentForm="ngForm" no-padding>
        <ion-item no-padding>
          <ion-textarea name="comment" placeholder="Din kommentar" (keyup)="saveComment(commentForm.value.comment)" value="{{comment}}" ngModel></ion-textarea>
        </ion-item>
      </form>

    </ion-card-content>
  </ion-card>
  
  <!-- Soft Payments -->
  <div *ngIf="isSoftPayment">
    <ion-title>Ønsket betalingsmåte</ion-title>
    <ion-card *ngIf="isSoftPayment">
      <ion-card-content>
        
        <div class="softpayment_wrapper">
          <ion-list radio-group no-padding>
            <ng-template ngFor let-payment [ngForOf]="softPayments">
              <ion-item no-padding>
                <ion-label>{{payment}}</ion-label>
                <ion-radio value="{{payment}}" [checked]="payment == selectedSoftPayment" (click)="selectSoftPayment(payment)"></ion-radio>
              </ion-item>
            </ng-template>
          </ion-list>
        </div>
        
      </ion-card-content>
    </ion-card>
  </div>
        
  <!-- Place order -->
  <div text-center padding>
    <button ion-button (click)="placeOrder()" color="secondary" block icon-right class="action-btn" [disabled]="!activeSubmit">
      Send bestillingen<br>til kjøkkenet
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>

</ion-content>