page-order-history {
    ion-card-header {
        background-color: #434345 !important;
        color: #fff !important;
        padding: 11px !important;
        font-weight: bold;

        p {
            color: #fff !important;
        }
    }
}
